.titleComplete {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.backgroundTitle {
    background-image: url(/img/fc7c130922b1f0f1142941cb6a0176bc.jpg);
}

.textTitle {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
    width: 500px;
    height: 80px;
    background: linear-gradient(rgb(1, 1, 15), rgba(1, 11, 39, 0.692));
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 5px;
}


.cardsMovies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/stars-galaxy-blue-milky-way-wallpaper-preview.jpg);
}

.card {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-img-top {
    width: 18rem;
    height: 25rem;
    border: 1px solid white;
}

.card-body {
    background-image: url(/img/8837a69bcf30bd8a428f9b6bb9d22e48.jpg);
    opacity: 0.9;
    border: 1px solid white;
}

.card-title-title {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.card-title-director {
    color: black;
    font-size: 18px;
}

.card-title-genre {
    color: black;
    font-size: 18px;
}

.card-title-description {
    color: black;
    font-size: 18px;
}

.iconPotion {
    width: 20px;
    font-weight: bold;
}